*, *::before,*::after {
    box-sizing:border-box;
    font-family: 'Amatic SC', cursive;
    font-size:40px;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vw;
    background-color:rgb(133, 131, 131);
}
.feeling-box{
    margin-top: 50vh;
    display: block;
    background-color: hsl(16, 27%, 92%);
    border: 1px solid hsl(49, 48%, 62%);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

#feeling{color: gray;}
#feeling-degree{ color: black;}
